<ion-view view-title="设置">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                开启警告
            </ion-toggle>
            <label class="item item-input">
                <span class="input-label">主服务器地址</span>
                <input type="text" name="username" ng-model="username">
            </label>
            <label class="item item-input ">
                <span class="input-label">数据库服务器地址</span>
                <input type="password" name="password" ng-model="password">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
