<input type="datetime-local" name="start_time" ng-model="data.start_time" placeholder="yyyy-MM-ddTHH:mm:ss" min="2011-01-01T00:00:00" max="2015-12-31T00:00:00" required />
<input type="datetime-local" name="end_time" ng-model="data.end_time" placeholder="yyyy-MM-ddTHH:mm:ss" min="2011-01-01T00:00:00" max="2015-12-31T00:00:00" required />
<label class="item item-input item-select">
    <div class="input-label">
        Lightsaber
    </div>
    <select>
        <option>Blue</option>
        <option selected>Green</option>
        <option>Red</option>
    </select>
</label>
